<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <title>Office Map</title>
        {% load static %}
        <link rel="stylesheet" href="{% static "leaflet.css" %}"> 
        <link rel="stylesheet" href="{% static "css\leaflet-sidebar.css" %}"> 
        <link rel="stylesheet" href="{% static "leaflet.reachability.css" %}"> 
        <link rel="stylesheet" href="{% static "css\bootstrap.css" %}">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ==" crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js" integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ==" crossorigin=""></script>
        <script src= "{% static "leaflet-src.js"  %}"></script> 
        <script type="{% static "text/javascript" src="https://unpkg.com/default-passive-events"%}"></script>
        <script src="{% static "leaflet.ajax.min.js" %}"></script>
        <script src="{% static "jquery-3.2.0.min.js" %}"></script> 
        <script src="{% static "leaflet.reachability.js" %}"></script>
        <script src="{% static "leaflet-heat.js" %}"></script>
        <script src="{% static "leaflet-sidebar.js" %}"></script>
        <script src="{% static "leaflet.minichart.min.js" %}"></script>
        <script src="{% static "leaflet.minichart.js" %}"></script>
        
        <style>
            html, body {
                height: 100%;
                margin: 0;
                font-family: Verdana, sans-serif;
            }
            .leaflet-container {
                height: 400px;
                width: 600px;
                max-width: 100%;
                max-height: 100%;
                font-family: 'Verdana';
            }
        </style>
    
        <style>#map { position: absolute; right: 0; top:0; height: 100vh; width:300vh }
            .info { padding: 6px 8px; font: 14px/16px Verdana, Verdana, Verdana; background: white; background: rgba(255,255,255,0.8); box-shadow: 0 0 15px rgba(0,0,0,0.2); border-radius: 5px; } .info h4 { margin: 0 0 5px; color: #777; }
            .legend { text-align: left; line-height: 18px; color: #555; } .legend i { width: 18px; height: 18px; float: left; margin-right: 8px; opacity: 0.7; }
            .popupCustom .leaflet-popup-tip,
            .leaflet-sidebar {overflow-y: auto;text-indent: 10px; draggable: true; closeButton: true; autopah: true; width: 200px; color: #777;1 padding: 6px 8px; font: 14px/16px Verdana, Verdana, Verdana; background: white; background: rgba(255,255,255,0.8); box-shadow: 0 0 15px rgba(0,0,0,0.2); border-radius: 5px; }
            .leaflet-sidebar-tabs {overflow-y: auto;text-indent: 10px; width: 200px; color: #777;1 padding: 6px 8px; font: 14px/16px Verdana, Verdana, Verdana; background: white; background: rgba(255,255,255,0.8); box-shadow: 0 0 15px rgba(0,0,0,0.2); border-radius: 5px; }
            .sidebar-content {overflow-y: auto;width: 200px; color: #777;1 padding: 6px 8px; font: 14px/16px Verdana, Verdana, Verdana; background: white; background: rgba(255,255,255,0.8); box-shadow: 0 0 15px rgba(0,0,0,0.2); border-radius: 5px; }
            .leaflet-control-layers-list {coverflow-y: auto;olor: #777;1 padding: 6px 8px; font: 14px/16px Verdana, Verdana, Verdana; background: white; background: rgba(255,255,255,0.8); box-shadow: 0 0 15px rgba(0,0,0,0.2); border-radius: 5px; }
            .fa fa-bars {text-indent: 5px;  margin-left: 10px; width: 200px; margin-top: 0.5em ;margin-bottom: 0.5em ;}
            .leaflet-popup-content {line-height:100%; }
            .leaflet-control-layers-selector { color: #777; padding: 6px 8px; font: 14px/16px Verdana, Verdana, Verdana; background: white; background: rgba(255,255,255,0.8); box-shadow: 0 0 15px rgba(0,0,0,0.2); border-radius: 5px; }
            .popupCustom .leaflet-popup-content-wrapper  { width: 200px; line-height:100%; padding: 6px 8px; background: white; color: #234c5e;font: 12px/14px Verdana, Verdana, Verdana;box-shadow: 0 0 15px rgba(0,0,0,0.2);border-radius: 5px; }
            .leaflet-bar { position: relative; float:left; padding: 6px 8px; font: 14px/16px Verdana, Verdana, Verdana; background: white; background: rgba(255,255,255,0.8); box-shadow: 0 0 15px rgba(0,0,0,0.2); border-radius: 5px; width: 300} 
            .leaflet-sidebar-header {background-color: #496D73; text-align: justify}
            .fa-caret-left {content: url('/static/200601.png'); width: 25px; margin-top: 12px;}
            .leaflet-sidebar-close {position: relative; float:right;}
            .leaflet-sidebar-close-right {position: relative; float:left;}
            .btn-primary {background-color: #496D73 !important; font: 12px/14px Verdana, Verdana, Verdana !important}
            .leaflet-sidebar-close {position: relative; float:right;font: 12px/14px Verdana, Verdana, Verdana;}
            .contentPanel { width:200px; padding: 6px 8px; font: 12px/14px Verdana, Verdana, Verdana; background: white; background: rgba(255,255,255,0.8); box-shadow: 0 0 15px rgba(0,0,0,0.2); border-radius: 5px; width: 300 } 
        </style>
</head>
<body>
    <div id="sidebar" class="leaflet-sidebar">   
        <div id="divFilterType" class="leaflet-sidebar-tabs">
            <h1 class="leaflet-sidebar-header">
                <span class="leaflet-sidebar-close" > 
                    <i id ="close" class="fa fa-caret-left"  onclick="closeNav()"></i>
                </span>
                Фильтры
            </h1>
            <h4> Категория </h4> 
            <div class="fa fa-bars">
                <input type='radio' name='fltType' value='ALL' checked>Все
            </div>
            <div class="fa fa-bars">
                <input type='radio' name='fltType' value='Существующий'>Существующие
                </div>
            <div class="fa fa-bars">
                <input type='radio' name='fltType' value='В стадии строительства'>В стадии строительства
            </div>
            <div class="fa fa-bars">
                <input type='radio' name='fltType' value='Завершен в 2022'>Завершенные в 2022
            </div>
                <h4> Cтавки, EUR/кв.м </b><br>в месяц без НДС </h4> 
            <div class="fa fa-bars">
                <input type='radio' name='fltRent' value='ALL' checked>Все
            </div>
            <div class="fa fa-bars">
                <input type='radio' name='fltRent' value='2' >Нет данных
            </div>
            <div class="fa fa-bars">
                <input type='radio' name='fltRent' value='5.0'>До 5
                </div>
            <div class="fa fa-bars">
                <input type='radio' name='fltRent' value='10.0'>5-10
            </div>
            <div class="fa fa-bars">
                <input type='radio' name='fltRent' value='15.0'>10 - 15
            </div>
            <div class="fa fa-bars">
                <input type='radio' name='fltRent' value='20.0'>15-20
            </div>
            <div class="fa fa-bars">
                <input type='radio' name='fltRent' value='25.0'>20-25
            </div>
            <div class="fa fa-bars">
                <input type='radio' name='fltRent' value='30.0'>Болee 25
            </div>
            <h4> Вакантно, кв.м </h4> 
            <div class="fa fa-bars">
                <input type='radio' name='fltVacancy' value='ALL' checked>Все
            </div>
            <div class="fa fa-bars">
                <input type='radio' name='fltVacancy' value='500'>больше 500
            </div>
            <div class="fa fa-bars">
                <input type='radio' name='fltVacancy' value='1000'>больше 1000
            </div>
            <div class="fa fa-bars">
                <input type='radio' name='fltVacancy' value='3000'>больше 3000
            </div>
            <div class="fa fa-bars">
                <input type='radio' name='fltVacancy' value='5000'>больше 5000
            </div>
            <h4>
            <div >
                <a href="/map/" target="_parent"><button type="button"  class="btn btn-primary">Ставки</button></a>
            </div>
            </h4>
            <span class="leaflet-sidebar-close-right"  > 
                <i id ="close" class="fa fa-caret-left" float= "left" onclick="closeNav()"></i>
            </span>

        </div>
    </div>

        <div id="map" class = "sidebar-map leaflet-container leaflet-touch leaflet-retina leaflet-fade-anim leaflet-grab leaflet-touch-drag leaflet-touch-zoom"></div>
        <script type="text/javascript" src="{% static "office-Minsk.js"%}"></script>
        <script type="text/javascript">

            var map = L.map('map').setView([53.896778277043836, 27.56520771701336], 12);
            L.control.sidebar({ autopan: true });
            var center = [53.896778277043836, 27.56520771701336];
        
            var tiles = L.tileLayer('https://api.mapbox.com/styles/v1/lenakulik/cl4gubhle000114qtkjq2kz8f/tiles/256/{z}/{x}/{y}@2x?access_token=pk.eyJ1IjoibGVuYWt1bGlrIiwiYSI6ImNranVqYnhxMDAzZHgyc2xncTI2ZTJlaWIifQ.__lIWTKzeHrjT0FABCVsjw', {
                maxZoom: 19,
                attribution: '&copy; <a href="https://www.mapbox.com/about/maps/">Mapbox</a>'
            }).addTo(map);
      
      
            // control that shows state info on hover
            var info = L.control();
        
            info.onAdd = function (map) {
                this._div = L.DomUtil.create('div', 'info');
                this.update();
                return this._div;
            };
            //dynamic pointer

            info.update = function (props) {
                this._div.innerHTML = '<h4> Вакантность'+ '<br>' +'в офисах Минска</h4>'+
                '<br> <a href="https://colliersoffice.by/"><img src="{% static 'colliers.png' %}" width=100 ></a><br />' 
                + (props ? '<b><br>' + props.Name + '</b><br />' + props.description +'</b><br>'+ '</b>': '' );
            };
                    info.addTo(map);

           // options for popup
                var customOptions = {
                    'maxWidth': '400',
                    'width': '200',
                    'line-height':'0.5',
                    'className' : 'popupCustom' }
                
            // ajax geojson for working filters 

                var geojson = L.geoJSON.ajax('{% static "office-Minsk.js.geojson"%}', {
                    pointToLayer: function (feature, latlng) {
                    //pie-charts
                        if (feature.properties.vacancy>1) {
                            return L.minichart(latlng, 
                                    {data: [feature.properties.vacancy,(feature.properties.GLA-feature.properties.vacancy)], 
                                    type: "pie",
                                    fillOpacity: '0.8',
                                    opacity:"0.8",
                                    colors: ['#D8DA26','#4B4068'],
                                    width: Math.sqrt(feature.properties.GLA/20)
                                    },                                         
                                    )
                        }
                    },
                    filter:filterOfficeByVacancy,
                    filter:filterOfficeByType, 
                    filter: filterOfficeByRent,
                    onEachFeature: function (feature, layer) {
                        img_url = "/static/images/"+feature.properties.Img
                        layer.bindPopup(('<h4>'+feature.properties.Name+'</h4><h6><b>Адрес:</b> '+feature.properties.description +' </h6>'+
                        '<h6><b>Статус: </b>'+feature.properties.Type+'</h6><h6>'+ '<b>Вакантно: </b>'+feature.properties.vacancy+ " кв. м"+'</h6><h6>'+"<img src="+img_url+" width=150>"+ '</h6><h6>'+	
                        '<a href="tel:123-456-7890p123">Позвонить: Максим Василевский</a>'+'</h6><h6>'+'<a href="https://colliersoffice.by/"> Заказать звонок </a></h6>'), customOptions);
                        layer.on({
                        mouseover: highlightFeature,
                        mouseout: resetHighlight,
                        })
                    }, 
                 
                }).addTo(map);

      
            function highlightFeature(e) {
                var layer = e.target;
                info.update(layer.feature.properties);
            }
                  
            function resetHighlight(e) {
                geojson.resetStyle(e.target);
                info.update();
            }
            // filters on type
            $("input[name=fltType]").click(function(){
                officeIDs=[];
                geojson.refresh();
            });

            function filterOfficeByType(json) {
                var att=json.properties;
                var optFilter = $("input[name=fltType]:checked").val();
                var optFilter2 = $("input[name=fltRent]:checked").val();
                var optFilter3 = $("input[name=fltVacancy]:checked").val();
                   
                   if (optFilter=='ALL' && optFilter2 == 'ALL' && optFilter3 == 'ALL' ) {
                    return true;
                    } else {
                        return ((att.Type==optFilter)||(optFilter=='ALL'))
                        && ((optFilter2=='ALL')||(parseFloat(att.RENT_RATE) <= parseFloat(optFilter2) 
                        && (parseFloat(att.RENT_RATE) > (parseFloat(optFilter2)-5.0))))
                        && ((optFilter3=='ALL')||(parseInt(att.vacancy) > parseInt(optFilter3)));
                          }
            }

            // filers on rent_rate
                $("input[name=fltRent]").click(function(){
                    officeIDs=[];
                    geojson.refresh();
                    });
            
                function filterOfficeByRent(json) {
                    var att=json.properties;
                    var optFilter = $("input[name=fltType]:checked").val();
                    var optFilter2 = $("input[name=fltRent]:checked").val();
                    var optFilter3 = $("input[name=fltVacancy]:checked").val();
                       
                       if (optFilter=='ALL' && optFilter2 == 'ALL' && optFilter3 == 'ALL' ) {
                        return true;
                        } else {
                            return ((att.Type==optFilter)||(optFilter=='ALL'))
                            && ((optFilter2=='ALL')||(parseFloat(att.RENT_RATE) <= parseFloat(optFilter2) 
                            && (parseFloat(att.RENT_RATE) > (parseFloat(optFilter2)-5.0))))
                            && ((optFilter3=='ALL')||(parseInt(att.vacancy) > parseInt(optFilter3)));
                              }
                        }
        // filters on vacancy      
                $("input[name=fltVacancy]").click(function(){
                        officeIDs=[];
                        geojson.refresh();
                        });

                function filterOfficeByVacancy(json) {
                    var att=json.properties;
                    var optFilter = $("input[name=fltType]:checked").val();
                    var optFilter2 = $("input[name=fltRent]:checked").val();
                    var optFilter3 = $("input[name=fltVacancy]:checked").val();
                       
                       if (optFilter=='ALL' && optFilter2 == 'ALL' && optFilter3 == 'ALL' ) {
                        return true;
                        } else {
                            return ((att.Type==optFilter)||(optFilter=='ALL'))
                            && ((optFilter2=='ALL')||(parseFloat(att.RENT_RATE) <= parseFloat(optFilter2) 
                            && (parseFloat(att.RENT_RATE) > (parseFloat(optFilter2)-5.0))))
                            && ((optFilter3=='ALL')||(parseInt(att.vacancy) > parseInt(optFilter3)));
                              }
            }
        var popup = L.popup();
            
       // Плотность офисной недвижимости
       
            var locations = officeData.features.map(function(rat) {
                // the heatmap plugin wants an array of each location
                var location = rat.geometry.coordinates.reverse();
                var radius_vacancy = parseInt(Math.sqrt(rat.properties.GLA/100))
                location.push(radius_vacancy);
                return radius_vacancy, location; // e.g. [50.5, 30.5, 0.2], // lat, lng, intensity
              });

           var heat = L.heatLayer(locations, { minOpacity: 0.9, max: 0.45, maxZoom: 20, radius: location.radius_vacancy, blur: 10, gradient: {0.4: '#ab809d', 0.85: '#c24e9d', 1: '#f00c9c'}, 
         });
                   
           
        // disclamer 

            map.attributionControl.addAttribution('Арендные ставки; <a href="https://colliersinvest.by/">Коллиерз</a>');
       
        // legend
        var legend = L.control({position: 'bottomright', title: "Ставки EUR/месяц без НДС"});
        
        legend.onAdd = function (map) {
        
                var div = L.DomUtil.create('div', 'info legend');
                var grades = ['Вакантно','Арендовано'];
                var colors = ['#D8DA26','#4B4068'];
                var labels = ['<strong> Легенда </strong> <br>'];
                        
                for (var i = 0; i < grades.length; i++) {
      
                    labels.push(
                        '<i style="background: ' + colors[i] + '"></i> ' +
                        grades[i]+'<br>');
                }
        
                div.innerHTML = labels.join('<br>');
                return div;
            };
        
        legend.addTo(map);
        // layers    
        var baseLayers = {
                "Ставки": tiles,
                };
            
            var overlays = {
                "Плотность офисного стока": heat,
                };
            
            L.control.layers(baseLayers, overlays).addTo(map);

            function closeNav() { 
                if (document.getElementById("sidebar").style.zoom == "0.7") {
                    document.getElementById("sidebar").style.width = "200px"
                    document.getElementById("sidebar").style.zoom = "1.0"
                    document.getElementById("close").style.content = "url('/static/200601.png')"
                    } else {
                        document.getElementById("sidebar").style.width = "50px"
                        document.getElementById("sidebar").style.zoom = "0.7"
                       // document.getElementById("divFilter").style.visibility = "hidden";
                        document.getElementById("close").style.content = "url('/static/200602.png')"
                    }     
            };
      
        </script>
    </body>
</html>


